* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: ;
  justify-content: space-evenly;
  gap: 20px;
  background-color: rgb(233, 241, 241);
  border: 1px solid #000000;
}

.site-nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  background-color: aqua;
  border: 1px solid #000000;
}

.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 241, 241);
  border: 1px solid #000000;
}

.recent-post article {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  border: 1px solid #000000;
  justify-content: center;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: aqua;
  border: 1px solid #000000;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  border: 1px solid #000000;
}
.project {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  border: 1px solid #000000;
  justify-content: center;
  align-items: center;
}

.Art-image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
  border: 1px solid #000000;
}

.image-gallery {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.image-gallery img {
  object-fit: cover;
  border: 1px solid #000000;
  border-radius: 20px;
}
